<div class="row">
  <div class="col-md-12 text-center">
    <h3>考试卷一</h3>
    <p>卷一是一套好卷子</p>
    <ul class="list-inline">
      <li>
        <a class="button button-3d button-action button-rounded" href="http://www.bootcss.com/">
          122<i class="material-icons">check</i>
        </a>
      </li>
      <li>
        <a class="button button-3d button-caution button-rounded" href="http://www.bootcss.com/">
          233<i class="material-icons">close</i>
        </a>
      </li>
    </ul>
  </div>
</div>