<div class="row">
  <div class="col-md-10 text-center">
    <h3>考试卷一</h3>
    <p>卷一是一套好卷子</p>
  </div>
</div>

<div class="row">
  <ul class="list-inline">
    <li class="text-center">
      <a href="javascript:void(0)" class="btn btn-success btn-fab"><span class="badge">122</span><i class="material-icons">check</i></a>
    </li>
  </ul>
  <div class="col-md-1">
  </div>
  <div class="col-md-1">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
  </div>
  <div class="col-md-1">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
  </div>
  <div class="col-md-1">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
  </div>
  <div class="col-md-1">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
  </div>
  <div class="col-md-1">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
  </div>
  <div class="col-md-1">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
  </div>
  <div class="col-md-1">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
  </div>
  <div class="col-md-1">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
  </div>
  <div class="col-md-1">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
  </div>
  <div class="col-md-1">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
  </div>
  <div class="col-md-1">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
  </div>
  <div class="col-md-1">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
  </div>
  <div class="col-md-1">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
  </div>
  <div class="col-md-1 text-center">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
    <span>122</span>
  </div>
  <div class="col-md-1 text-center">
    <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">check</i></a>
    <span>122</span>
  </div>
</div>